bin/
obj/
.idea/
*.zip
*.DotSettings.user
.DS_Store
cmake-build*
publish_test
Dependencies
SS14.Launcher/FodyWeavers.xsd
Marsey/Mods
Marsey/Engines

!PublishFiles/MusyaLoader.app/Contents/Resources/bin/
__pycache__
